<!DOCTYPE html>
<html>
	<head>
		<title>MyHome</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="app.css">
		<link href="https://fonts.googleapis.com/css2?family=Fascinate&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
		<script src="https://kit.fontawesome.com/54828f8f76.js" crossorigin="anonymous"></script>
    </head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(34,51,68);">
		<a class="navbar-brand" href="/"><span id="appname">MyHome</span><img src="https://img.icons8.com/pastel-glyph/64/ffffff/smart-home-shield.png"/></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		  <div class="navbar-nav ml-auto">
			<% if(!currentUser){ %>
			<a class="nav-link" href="/register">Register</a>
			<a class="nav-link" href="/login">Login</a>
			<% } else{ %>                             <!-- IMP PART!!! DON'T IGNORE... -->
			<a class="nav-link" href="">Signed in as <strong><%= currentUser.username %></strong></a>
			<a class="nav-link" href="/logout">Logout</a>
			<% } %>
		  </div>
		</div>
	  </nav>